* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
  font-size: 0;
}
.clearfix {
  *zoom: 1;
}

.oneer {
  height: 869px;
  background-color: rgba(254, 251, 229, 0.5);
}
nav {
  padding-top: 24px;
  padding-bottom: 18px;
}
.nav2 {
  padding-top: 15px;
}
.nav1 {
  position: relative;
  z-index: 20;
}
.looking {
  width: 585px;
  height: 30px;
  border-bottom: #7d7a70 solid 1px;
  position: relative;
}

.looking input {
  width: 100%;
  height: 30px;
  padding: 0 10px;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  font-size: 14px;
  color: #333333;
  transition: all 0.2s;
  background: none;
  outline: none;
}
.looking .text {
  font-size: 14px;
  color: #c6c4ba;
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  opacity: 1;
}
.nav2 .looking a span {
  /* margin-right: 30px; */
  position: absolute;
  right: 0;
  top: 0;
  font-weight: bold;
  color: #333333;
  font-size: 20px;
}
.nav3 .box span {
  color: #333333;
  float: right;
  font-size: 20px;
  font-weight: bold;
  padding-right: 24px;
  padding-top: 10px;
  transition: color 0.5s;
}
.nav3 .box span:hover {
  color: #f1600c;
}
.nav3.box {
  width: 58px;
  height: 32px;
  /* border-left: 1px solid #4a4b4a; */
  float: right;
}

.nav3.box1 {
  margin-top: -4px;
  float: right;
}
.nav3 {
  /* margin-right: 20px; */
  position: absolute;
  right: -48px;
}
.arrival p {
  font-size: 22px;
  color: #333333;
  font-weight: bold;
  margin-left: 50px;
  margin-top: -55px;
}
.arrival .season {
  font-size: 44px;
  color: #ebebeb;
  animation: run 1s;
  padding-left: 110px;
  /* margin-top: -55px; */
}
.arrival {
  margin-top: 120px;
  margin-bottom: 70px;
}
.herder-bottom {
  background-image: url(../banner/page-titlebg.png);
}
.arrival1 {
  margin-top: 82px;
  padding-left: 150px;
}
.arrival1 ul {
  list-style: none;
}
.arrival1 ul li {
  float: left;
}
.arrival1 ul li a {
  font-size: 14px;
  text-decoration: none;
  color: #999999;
}
.arrival1 ul li .woven {
  color: #333333;
}
.main {
  padding-top: 100px;
  padding-bottom: 110px;
}
.enim1-1 {
  padding-top: 43px;
  padding-left: 80px;
}
.enim1-1 span {
  font-size: 11px;
  color: #555;
}
.enim1-1 span a {
  text-decoration: none;
  color: #555;
}
.enim1-2 {
  padding-top: 22px;
  padding-left: 28px;
  padding-bottom: 54px;
}
.enim1-2 a {
  text-decoration: none;
  font-size: 16px;
  color: #555;
  font-weight: 700;
}
.shuzi ul {
  list-style: none;
  padding-left: 36px;
}
.shuzi ul li {
  float: left;
  font-size: 14px;
  color: #333333;
  font-weight: 700;
}
.shuzi ul li a {
  text-decoration: none;
  font-size: 12px;
  color: #999;
  padding-left: 15px;
  font-weight: 700;
}
.shuzi ul .shuzi1 a {
  font-size: 17px;
  color: #333;
  font-weight: 700;
}
.shuzi ul .shuzi2 a {
  font-size: 14px;
  color: #333333;
  font-weight: 700;
}
.looking {
  width: 254px;
  height: 30px;
  border-bottom: #7d7a70 solid 1px;
  position: relative;
}

.looking input {
  width: 100%;
  height: 30px;
  padding: 0 10px;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  font-size: 14px;
  color: #333333;
  transition: all 0.2s;
  background: none;
  outline: none;
}
.looking .text {
  font-size: 14px;
  color: #c6c4ba;
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  opacity: 1;
}
.nav2 .looking a span {
  /* margin-right: 30px; */
  position: absolute;
  right: 0;
  top: 0;
  font-weight: bold;
  color: #333333;
  font-size: 20px;
}
.searce {
  padding-top: 60px;
  padding-bottom: 20px;
}
.searce1 {
  padding-bottom: 14px;
  padding-top: 10px;
  border-bottom: #f2f2f2 solid 1px;
}
.searce h4 {
  color: #333;
}
.searce1 h5 a {
  text-decoration: none;
  font-size: 16px;
  color: #555;
  font-weight: 700;
}
.searce1 p {
  font-size: 14px;
  color: #555;
}
.searce1 p a {
  text-decoration: none;
  font-size: 14px;
  color: #555;
}
.wear {
  margin-top: 60px;
  position: relative;
}
.wear1 {
  width: 157px;
  height: 380px;
  background-color: #5658ac;
  opacity: 0.5;
  position: absolute;
  top: 0;
}
.gents {
  position: absolute;
  top: 90px;
  left: 32px;
}
.gents h2 {
  color: #fff;
  font-weight: 700;
}
.gents h3 {
  color: #fff;
  font-weight: 700;
}
.gents p {
  font-size: 12px;
  color: #fff;
}
.show {
  position: absolute;
  top: 300px;
  left: 32px;
}
.show a {
  text-decoration: none;
  font-size: 12px;
  color: #fff;
  font-weight: 700;
}
.show > div {
  width: 64px;
  height: 1px;
  background-color: #fff;
  margin-top: 10px;
}
.tubiao {
  padding-top: 60px;
  padding-bottom: 60px;
}
.tubiao ul {
  list-style: none;
}
.tubiao ul li {
  float: left;
  margin-right: 11px;
}
.tubiao ul li a {
  text-decoration: none;
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding-top: 10px;
  padding-left: 12px;
  background-color: #f3f3f3;
  transition: all 0.5s;
}
.tubiao ul li a span {
  font-size: 14px;
  color: #333333;
  transition: all 0.5s;
}
.tubiao ul li a:hover {
  background-color: #333333;
}
.tubiao ul li a:hover span {
  color: #fff;
}
.stay h4 {
  font-weight: 700;
  color: #333;
}
.stay p {
  font-size: 14px;
  color: #777;
  margin-top: 34px;
  margin-bottom: 42px;
}
.stay1 h4 {
  color: #333;
  font-weight: 700;
  padding-top: 60px;
  padding-bottom: 33px;
}
.stay1 ul {
  list-style: none;
}
.stay1 ul li {
  padding-bottom: 26px;
}
.stay1 ul li a {
  text-decoration: none;
  font-size: 14px;
  color: #777;
}
.footer-top {
  background-image: url(../banner/page-titlebg.png);
  margin-top: 60px;
}
.these {
  margin-top: 33px;
  margin-bottom: 55px;
}
.these p {
  font-size: 10px;
  color: #777777;
  line-height: 20px;
  margin-top: 30px;
}
.about {
  font-weight: 700;
  margin-top: 70px;
  margin-bottom: 38px;
}
.campany ul {
  list-style: none;
}
.campany ul li a {
  text-decoration: none;
  font-size: 10px;
  color: #777777;
  line-height: 30px;
}
.campany {
  margin-bottom: 99px;
}
.colins ul {
  list-style: none;
}
.colins ul li {
  font-size: 10px;
  color: #777777;
  line-height: 30px;
}
.colins ul li a {
  text-decoration: none;
  font-size: 10px;
  color: #777777;
}
.colins ul li span {
  margin-right: 24px;
}

.footer-bottom {
  background-color: #333;
}
.footer-bottom1 {
  border-top: #777 solid 1px;
}
.theme p {
  font-size: 14px;
  color: #d7d7d7;
  margin-top: 25px;
  margin-bottom: 25px;
}
.theme p a {
  text-decoration: none;
  color: #d7d7d7;
}
.license ul {
  list-style: none;
  margin-top: 25px;
  margin-bottom: 25px;
}
.license ul li {
  float: left;
  margin-right: 15px;
}
.license ul li a {
  text-decoration: none;
  color: #d7d7d7;
  font-size: 14px;
}
.looking1 {
  width: 350px;
  height: 30px;
  border-bottom: #7d7a70 solid 1px;
  position: relative;
}

.looking1 input {
  width: 100%;
  height: 30px;
  padding: 0 10px;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  font-size: 14px;
  color: #333333;
  transition: all 0.2s;
  background: none;
  outline: none;
}
.looking1 .text {
  font-size: 14px;
  color: #c6c4ba;
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  opacity: 1;
}
.looking1 a span {
  /* margin-right: 30px; */
  position: absolute;
  right: 0;
  top: 0;
  font-weight: bold;
  color: #333333;
  font-size: 20px;
}
/* .tubiao1 {
  padding-top: 60px;
  padding-bottom: 60px;
} */
.tubiao1 ul {
  list-style: none;
}
.tubiao1 ul li {
  float: left;
  margin-right: 11px;
}
.tubiao1 ul li a {
  text-decoration: none;
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  padding-top: 5px;
  padding-left: 8px;
  background-color: #fcfcfc;
  border: #333 solid 1px;
  transition: all 0.5s;
}
.tubiao1 ul li a span {
  font-size: 12px;
  color: #333333;
  transition: all 0.5s;
}
.tubiao1 ul li a:hover {
  background-color: #333333;
}
.tubiao1 ul li a:hover span {
  color: #fff;
}
